node_modules
package-lock.json

public/scss/*
public/*
!public/scss
!public/scss/about.scss

private/

routes/*
!routes/about.js

views/*
!views/profolio

bin/
*.pem
*.txt
app.js
engine.js
websocket.js
priv_*
/logs
.vs