extends layout
block content
    div#resume.bordered.hoverHighlight
        span.container about
        div(style="padding: 1.17em;")#resumeContent
            div#subtitle.centered
                span My story
            div
                br
                p
                    | I have lived around the continent; never really staying in one place.
                    | I love coding and working with the systems I create.
                    | I enjoy working with electronics and understanding how they work.
                    | My motivation in what I do, is to be able to bring my project ideas to life.
                    | Some fun facts about me:
                    | I love music and on average have a listening time of about 140 days per year. That is about 3,360 hours of listening time per year.
                    | I greatly enjoy the Visual Novel and Animated series Steins;Gate.
            div#subtitle.centered
                span Values and Goals
            div
                br
                ul
                    li
                        div#subtitle.centered
                            span Life Values  
                        div
                            br
                            ul
                                li 
                                    h4 Take life as it comes, but make each day count:
                                    p
                                        | I believe that every day is its own day, and that trying to predict the future is a waste of time.
                                        | While a general insight is helpful spiraling is not.
                                    br
                                li
                                    h4 Respect and Tolerate everyone:
                                    p
                                        | Everyone has a life just as complicated if not more as another.
                                        | Judgment and respect should be foremost even with conflict.
                                    br
                                li
                                    h4 Logic first:
                                    p
                                        | I believe that most things have a logical solution which may conflict with ideal scenarios and ethics/morals. 
                                        | While I am often clouded by these solutions I try to look past and get a full understanding of as many angles as I can before making a decision.
                                    br
                    li
                        div#subtitle.centered
                            span Career Values 
                        div
                            br
                            ul
                                li 
                                    h4 Logical problem‑solving:
                                    p
                                        | I like roles where I can break things down and understand the systems.
                                    br
                                li 
                                    h4 Impact over appearance:
                                    p
                                        | I care more about whether something works well over its looks.
                                    br
                                li 
                                    h4 Clarity and structure:
                                    p
                                        | I value clear expectations, good documentation, and systems that make sense.
                                    br
                    li
                        div#subtitle.centered
                            span Career Goals 
                        div
                            br
                            p
                                | I aim to work in environments where I can design, analyze, and optimize complex systems across both software and hardware.
            