extends layout
block content
    div#about.bordered.hoverHighlight
        span.container about
        div#aboutContent
            div#aboutSubtitle.centered
                span My story
            div
                span Early life
                p
                    | Example.
            div
                span Beginging of my software journy
                p 
                    | Example.
            div
                span Where I am now
                p 
                    | Example.
            div
                span Where I wish to be
                p 
                    | Example.
            