extends layout
block content
    div#about.bordered.hoverHighlight
        span.container cognition
        div#aboutContent
            //TODO: embed the link properly
            //Add apropiate spacing
            div#aboutSubtitle.centered
                span How I think and learn.
            div
                span Personality type
                p 
                    | Logician INTP-T
                    |
                    | The 16Personalities test is a structured self‑assessment based on the Myers‑Briggs framework and influenced by Jungian theory. It uses agree-or-disagree statements to evaluate five key aspects of cognition and behavior: Mind, Energy, Nature, Tactics, and Identity. These combine to form one of sixteen personality types, such as INTP‑T.
                    | 
                    | I = Introverted, N = Intuitive, T = Thinking, P = Prospecting, and –T = Turbulent.
                    | 
                    | Please refer to https://www.16personalities.com/articles/our-theory for more information.
            div
                span Learning style
                p 
                    | Mixed‑modal 
                    |
                    | I learn best through a blend of auditory and visual input, supported by hands‑on examples when needed. My results across multiple tests show no extreme preference, so I consider myself a mixed‑modal learner rather than fitting into a single category.
            div
                span Multiple inteligence theory
                p
                    | Intrapersonal, Musical, and Logical/Mathematical
                    |
                    | Multiple inteligence theory is the work of Howard Gardner in late 1970 and early 1980. This theory explores the idea that intelligece is not a single ability but a collection of eight abilities: Spacial, Kinesthetic, Musical, Linguistic, Logical/Mathematical, Interpersonal, Intrapersonal and Naturalist.
                    |
                    | Please refer to https://www.multipleintelligencesoasis.org/a-beginners-guide-to-mi for more information.