extends layout
block content
    div#resume.bordered.hoverHighlight
        span.container documents
        div(style="padding: 1.17em;")#resumeContent
            div
                    span For Documents in PDF please email me at <a href="mailto:devlindehey07@gmail.com">devlindehey07@gmail.com</a>
            div#subtitle.centered
                span Letter of Recommendation 1
            div
                br
                p   
                    | Letter of Recommendation for Devlin Englehart.
                    | I was first acquainted with Devlin two years ago when he transferred to Fairview School. I was
                    | immediately impressed with his maturity as he looked me straight in the eye, extending his hand
                    | as he introduced himself. Devlin was to be a student in the math class I was teaching. It wasn’t
                    | long in to our first conversation that Devlin shared his enthusiasm for programming and working
                    | with computers. As the robotics coach I was very interested in recruiting Devlin. He was
                    | greatly interested and enthusiastic to begin working on a programming sequence that would
                    | make our robot very competitive. Devlin easily fit into the team dynamics and easily understood
                    | the programming needs and particulars of the language being used. He became a great asset to
                    | the team.
                    | As a student Devlin works very hard and excels at mathematical concepts which I relate to his
                    | logical thinking abilities. In addition, Devlin quickly made friends and would often offer
                    | assistance to anyone asking for help.
                    | As a person, Devlin is a wonderful young man. He is easy to converse with and presents himself
                    | unselfishly and honestly. He has a warm disposition, sharing about himself genuinely, without
                    | any necessity to exaggerate or inflate his abilities to look more important than others.
                    | In closing, I have greatly enjoyed my time with Devlin and have appreciated his knowledge both
                    | in the classroom and as a robotics team member. I am confident that Devlin will continue to
                    | improve in his academic abilities, however, I am more confident that his pursuit of computing
                    | will provide him with the greatest of his career choices. I would strongly recommend Devlin
                    | Englehart for scholarship consideration, or apprenticeship opportunity if available.
                br
                h4 Michael Stone
                h5 Instructor/coach at Fairview Schools
            div#subtitle.centered
                span Letter of Recommendation 2
            div
                br
                p   
                    | For whom it may concern.
                    | Deviln is my next door neighbor.
                    | For about 4 yrs now Deviln has done many different jobs for me. He has done landscaping, construction, electrical, etc. Very good at anything computer related.
                    | He is very detail oriented, responsible, he finishes tasks in a timely manner and always checks in before he assumes he is done. He is responsible beyond his years.
                br
                h4 Michael Holland
                h5 Neighbor
            div#subtitle.centered
                span Resume
            div
                br
                h2 Available upon request otherwise please navigate to <a href="https://about.nellium.us/resume">Resume</a>