extends layout
block content
    div#resume.bordered.hoverHighlight
        span.container experience
        div(style="padding: 1.17em;")#resumeContent
            div.centered
                span WIP