extends layout
block content
    div#resume.bordered.hoverHighlight
        span.container experience
        div(style="padding: 1.17em;")#resumeContent
            div#subtitle.centered
                span Work Experience
            div
                ul
                    li Roofing
                        ul
                            li July 2024
                            li Installed Metal roof
                    li Landscaping & Property Care
                        ul
                            li General Landscaping (Mowing, Trimming weeding, ect.)
                            li Terrain Leveling
                            li Trench digging
                            li Tree trimming
                            li Gravel driveway
                            li Stump removal
            div#subtitle.centered
                span Public Project Experience
            div
                br
                ul
                    li
                        div#subtitle.centered
                            span Website & API   
                        div
                            br
                            p
                                | This project includes the Website, API endpoints, and private dashboards.
                                | My personal favorite project I have had since since late 2023 when I first experimented with Github pages.
                                | This projects is completely self hosted using Node.js, Express.js, Pug, and SCSS. *With the exception of CloudFlare proxy.
                                | API has an up-time of 99.72% and an average response time of 200 &pm; 50ms
                                | <a href="https://github.com/Nelson728/Website">Github Link</a>
                    li
                        div#subtitle.centered
                            span 3rd Party Bot   
                        div
                            br
                            p
                                | This project is for the chat app Discord.
                                | This is one of my oldest and my first project that I still work on.
                                | As of the bot's current state, it can only interface with my API to interact with a self hosted AI.
                                | This functionality is temporarily disabled.
                                | In the past this bot had a wide variety of capabilities including modeling user activity, full fledged RPG (Role play game) integration.
                                | The bot is written in Javascipt and interfaces with a SQL database. At one point it was written in Python but due to personal preference I moved back to Javascript.
                                | The bot also has a Private API using Express.js of its own that aids in interfacing with my other projects.
                                | <a href="https://github.com/Nelson728/ZenuPy">Github Link</a>
                    li
                        div#subtitle.centered
                            span 3rd Party Client Modifications   
                        div
                            br
                            p
                                | This project is for the chat app Discord and the modification client/s Vencord/Equicord.
                                | This is a small project that includes my own modifications for the platform
                                | The project is written in TypeScript.
                                | <a href="https://github.com/Nelson728/Vencord-Plugs">Github Link</a>            
            div#subtitle.centered
                span Private Project Experience
            div
                br
                ul
                    li
                        div#subtitle.centered
                            span Distributed IoT Nodes 
                        div
                            br
                            p   
                                | This project is probably my most advanced project as it is spread across many fields.
                                | The project uses a battery powered ESP-8266 to read from a SHT41 (Humidity and Temperature Sensor) for now.
                                | The project will integrate directly with the API through a "Trunk" node, or in other words the Hub, which will be a ESP-32 which communicates to all the "Leaf" nodes (ESP-8266) and my server.
                                | The project uses C++ for code and I use Fritzing for my electrical diagrams.
                                | Currently private, but planned for public release once documentation and cleanup are complete.
                    li
                        div#subtitle.centered
                            span Minor Utility Projects  
                        div
                            br
                            p   
                                | Notable projects include a SSG (Static site generator) and a MKV -> ASCII -> GIF generator
                                | The ASCII generator made the spinning Lab Member badge from the 2011 series Steins;Gate shown on the homepage.
                                | Currently private, but planned for public release once documentation and cleanup are complete.
            div#subtitle.centered
                span Job Shadow
            div
                br
                ul
                    li 
                        div#subtitle.centered
                            span Soap Artisan & Soap making
                        div
                            br
                            p   
                                | On December 18th, 2025, I job shadowed the owner of an artisan soap company. The shadow was in the company’s building on their residential property. I chose this career as a job shadow because I believe it is important to support small businesses and I was interested in how they are run. Throughout this experience I learned about the chemistry behind making soap, how to market with labels and I learned about how the final product is sold.
