extends layout
block content
    div#home.bordered.hoverHighlight
        span.container home
        div#homeContent
            div#info
                h1 Devlin Englehart 
                h3 Aspiring Computer Systems/Civil Engineer
            div#steins.bordered.hoverHighlight
                span.container S;G
                a(href="#" draggable="false")
                    img(src="https://nellium.us/images/sg.gif" alt="Steins;Gate Lab Badge spinning ascii gif" draggable="false")
                