extends layout
block content
    div#interests.bordered.hoverHighlight
        span.container interests
        div#aboutContent
            div#aboutSubtitle.centered
                span Interests
            div
                span Computer based
                p
                    | For fun I often tinker with my APIs or try and learn a different language. I have many projects and I like to try and make things that I think I would be able to do by myself. For example the ASCII filter shown on the home page. I really enjoy tinkering and making personal tools and trying to apply security standards to my work. I have experimented with many subsections of Computer Science including full stack and micro-controllers. I love a good logic challenge and often build stuff as if it would be in production when in reality it is only me that uses it.
            //-     span Athletics
            //-     p 
            //-         | This will be a paragraph/text based area for sport related hobbies.