extends layout
block content
    div#resume.bordered.hoverHighlight
        span.container resume
        div(style="padding: 1.17em;")#resumeContent
            div.centered 
                span For PDF please navigate to <a href="https://about.nellium.us/documents">Documents</a>
            div
                span Devlin Englehart
                h3 Mio, Michigan, 48647
                h3 (Availavble upon request)
                h3 <a href="mailto:devlindehey07@gmail.com">devlindehey07@gmail.com</a>
            div#subtitle.centered
                span Summary
            div
                p
                    |
                    | Versatile and driven student with a background in Software Development and Project
                    | Management. Proven technical proficiency in multiple programming languages combined
                    | with a strong work ethic built through manual labor and competitive martial arts.
                    | Recipient of national-level academic and leadership awards.
            div#subtitle.centered
                span Skills
            div
                span Languages
                ul
                    li JavaScript
                    li Typescript
                    li Python
                    li HTML/CSS/Pug
                    li SQL/MySQL
                    li C#/C++
                    li Lua
                    li Java
            div
                span Frameworks
                ul
                    li Node.js
                    li Express
                    li Discord API
                    li Linux Systems
                    li Cross platform applications
            div#subtitle.centered
                span Work History
            div
                span Independent work | June 2023 – Present
                p
                    | Landscaping and detailing as well as light construction with high attention to
                    | detail and client satisfaction priority.
            div
                span Roofing Assistant | Tom Christenson | July 2024
                p
                    | Supported metal roof installation and repair, demonstrating grit, teamwork, and
                    | high physical output
            div#subtitle.centered
                span Education
            div 
                span Fairview Area Schools
                p | 2026 | High-school Diploma | Fairview, MI 48621 |
            div#subtitle.centered
                span Projects
            div
                ul  
                    br
                    li <a href="https://about.nellium.us/">Website</a>
                        p
                            |   Architected and self-hosted a full-stack platform utilizing WebSockets
                            |   for real-time data and a custom IoT management dashboard.
                    li IoT project
                        p
                            |   Engineered a distributed system of C++ “leaf nodes” using a custom
                            |   communication protocol for synchronized sensor data processing.
                    li Bot Development and 3rd Party Client modifications
                        ul
                            li <a href="https://github.com/Nelson728/ZenuPy">Bot Github</a>
                            li <a href="https://github.com/Nelson728/Vencord-Plugs">Client Modification Github</a>
            div#subtitle.centered
                span Awards
            div
                ul
                    br
                    li Kempo Karate World Championships
                        p Silver (Sparring), 2x Bronze (Form)
                    li College Board
                        p National Rural and Small Town Recognition
                    li Fairview Area Schools
                        p Eagle of Excellence
                    li Red Socks Baseball Camp
                        p Leadership Awards
                    br
                    br